@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

body {
    background-color: #00A6FB;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

.introduction {
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 25px;
    background-color: #006494;
    border-radius: 15px;

}

form {
    margin-top: 20px;
    background-color: #003554;
    padding: 20px;
    border-radius: 20px;
}

.feladat h3 {
    color: white;
}

.feladat label {
    color: white;
}

img {
    max-width: 400px;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.option {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.option input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 12px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option input[type="radio"]::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.option input[type="radio"]:checked::after {
    transform: scale(1);
}

.feladat label {
    cursor: pointer;
    font-size: 18px;
    color: white;
}

input[type="submit"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00A6FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="text"] {
    margin-top: 10px;
    padding: 10px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #006494;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #003554;
}

input[type="text"]:focus {
    border-color: #00A6FB;
}

.option input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 4px; 
    margin-right: 12px;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option input[type="checkbox"]::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 2px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.option input[type="checkbox"]:checked::after {
    transform: scale(1);
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00A6FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Zalando Sans Expanded', sans-serif;
}

button:hover {
    background-color: #008ecc;
}   